{% extends 'base.html.twig' %}

{% block title %}Training{% endblock %}

{% block body %}

<style>
    {# Training #}
        .Training-Container{
        }
        .Trainees{
            width: 90vw;
            height:100vh;
            background-color: #F1F1F1;
            border: 1px solid #D1D1D1;
            border-radius: 5px;
            margin: auto;
            overflow-y: auto
        }
        .Training-Container-Header label{
            width: 45vw;
            text-align: center;
            font-size: 3vh
        }
        .Training-Container-Header{
            width: 90vw;
            height:10vh;
        }
        .Training-Container-Header > *{
            float: left;
        }
        .Trainees > div {
            float: left;
            margin-left:2vw;
            margin-top:2vh;
        }

    {# Cards #}
        .card{
            transition: all 0.3s ease;
            
        }
        .card:hover{
            box-shadow: #B9B9B9 5px 5px 30px;
            transition: all 0.3s ease;
            transform: scale(1.02)
        }
</style>

    <div class="Training-Container">
        <div class="Training-Container-Header">
            <form method="/training/find/{cid}" action="" class="d-flex" role="search" style="translate:65vw 2vh">
                <input class="form-control me-2" style="border:1px solid grey" type="search" placeholder="Search CID" aria-label="Search">
                <a class="btn btn-outline-success" href="#" type="submit">Search</a>
                <a type="button" style="translate:1vw" class="btn btn-outline-primary" href="/training/add/">Add</a>
            </form>

        </div>
        <div class="Trainees">
            {% for trainee in trainees %}
                
                <div class="card" style="width: 15vw;height:55vh">
                    <img class="card-img-top" src="https://cdn.discordapp.com/attachments/1096638485458337883/1121135167390625892/Maghreb_vACC_mini.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{trainee.Name}}</h5>
                        <p class="card-text"> CID : {{trainee.CID}}</p>
                        <p class="card-text"> Rating : {{trainee.Rating}}</p>
                        <p class="card-text">Mentor : {{trainee.Mentor}}</p>
                        <div style="width:15vw; margin:auto;">
                            <a href="/training/Modify/{{trainee.id}}/" class="btn btn-primary">Modify</a>
                            <a href="/training/delete/{{trainee.id}}/" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>

        {# <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav> #}
    </div>
    {% block scripts %}
        <script>

        </script>
    {% endblock %}

{% endblock %}


